<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  
  
  
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

  
</head>

<body>
  <html lang="en-US">
<head>
  <meta charset="utf-8">
    <title>Login</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>
    <div id="login">
      <form name='form-login' method="post" action="{{ url_for('login') }}">
        <span class="fontawesome-user"></span>
          <input type="text" name="user" placeholder="Username">
       
        <span class="fontawesome-lock"></span>
          <input type="password" name="pass" placeholder="Password">
        
        <input type="submit" value="Login">

</form>
  
  
</body>
</html>
